<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#0b2e4a" />
  <meta name="description" content="Portal layanan dan informasi resmi instansi." />

  <title><%= pageTitle %> • <%= siteName %></title>

  <link rel="icon" href="/public/img/logo-samsat.svg" />
  <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/vendor/bootstrap-icons/bootstrap-icons.css" />
  <link rel="stylesheet" href="/public/css/theme.css" />
  <script defer src="/public/js/ui.js"></script>
</head>
<body class="bg-body-tertiary">
<a class="visually-hidden-focusable skip-link" href="#main">Lewati ke Konten</a>